<div class="container" *appLoading="true">
  <mat-card class="card" *ngIf="!isInvalid && !isExpired">
    <img src="../../assets/images/Revolution-Retail-Systems-logo_mobile.png" />
    <mat-icon class="mat-18">vpn_key</mat-icon>
    <span class="title-section">
      <span class="title">Set New Password</span>
      <span class="subtitle">Please set your password</span>
    </span>
    <form class="form" [formGroup]="formGroup" (ngSubmit)="resetPassword(formGroup.value)">
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="New Password" [type]="inputType" formControlName="password" 
          (input)="passwordValueValidator($event.target.value);"/>
          <span class="eye-icon" (click)="showPassword(formGroup.controls['password'].value);">
            <i class="material-icons">remove_red_eye</i>
        </span>
        </mat-form-field>
        <span class="error-msg" *ngIf="formGroup.controls['password'].invalid && formGroup.controls['password'].touched">{{Languages.get('errorMessage.required', 'capitalizeFirst')}}</span>
        <span class="error-msg" *ngIf="invalidPassword">{{Languages.get('errorMessage.invalidPassword', 'capitalizeFirst')}}</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [ngClass]=" {'disabled' : formGroup.invalid}"
          [disabled]="formGroup.invalid || invalidPassword">Set Password</button>
      </mat-card-actions>
    </form>
  </mat-card>
  <mat-card class="validation-card" *ngIf="isInvalid || isExpired">
    <mat-card-content>
      <h2 *ngIf="isInvalid">Invalid Link</h2>
      <h2 *ngIf="isExpired">Link Expired</h2>
    </mat-card-content>
    <!-- <mat-card-actions>
      <a href="{{authUrl}}">
        <button mat-raised-button color="primary">
          Go Back
        </button>
      </a>
    </mat-card-actions> -->
  </mat-card>
</div>