@import '../app.common';
$font-family: Roboto-Light,
"Helvetica Neue",
sans-serif;
.dialog-box {
    display: flex;
    flex-direction: column;
    .close-section {
        display: flex;
        justify-content: flex-end;
        button {
            float: right;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            font-size: 16px;
            border: none;
            outline: none;
            background-color: transparent;
            color: #0065A4;
        }
    }
    .dialog-content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 55vh;
        margin-top: 5%; 
        // @include landscape{
        //     height: 85vh;
        //     margin-top: 2%;
        // }
        @include phone {
            height: 65vh;
        }
        @include phone-small {
            margin-top: 3%;
        }
        .success-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                // @include landscape{
                //     margin-bottom: 3%;
                // }
            }
            .message-title {
                font-size: 20px;
                text-align: center;
            }
            .message-content {
                font-size: 12px;
                font-weight: 100;
                color: #8F979D;
                font-family: $font-family;
                letter-spacing: 1px;
                text-align: center;
            }
        }
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            .error-msg {
                color: #FF0000;
                font-size: 10px;
            }
            .invite-roles {
                width: 100%;
                display: flex;
                margin-bottom: 30px;
                @include tablet {
                    margin-top: 10px;
                    justify-content: center;
                }
                @include phone {
                    flex-direction: column;
                    width: 91%;
                    align-items: center;
                }
                .section-1 {
                    display: flex;
                    width: 100%; 
                    // @include laptop-only {
                    //     width:100%;
                    // }
                    // @include tablet-only{
                    //     width: 100%;
                    // }
                    @include phone {
                        justify-content: space-between;
                        width: auto;
                    }
                }
                .section-2 {
                    display: flex;
                    width: 100%; 
                    // @include laptop-only {
                    //     width:100%;
                    // }
                    // @include tablet-only{
                    //     width: 100%;
                    // }
                    @include phone {
                        justify-content: space-between;
                        margin-top: 5px;
                        width: auto;
                    }
                }
                .mat-radio-button {
                    padding-right: 10px;
                    color: #888;
                    size: 12px;
                    font-family: $font-family;
                    text-align: center;
                    font-weight: 200;
                    letter-spacing: 0;
                }
            } 
            // button{
            //     @include landscape{
            //         margin-top: 6%;
            //     }
            // }
        }
        .button {
            background-color: #39B54A;
            color: #fff;
            width: 150px;
            height: 40px;
            font-size: 14px;
            outline: none;
        }
    }
}