@import '../app.common';

.mat-card-actions {
    text-align: center;
}

.error-message {
    color: mat-color($app-warn);
    max-width: 300px;
    margin: 10px;
    border: 1px solid mat-color($app-warn, 500);
    .header-message {
        margin-left: 10px;
    }
    .mat-card-content {
        color: #000000;
        padding: 15px;
        padding: 15px;
    }
}
