<div class="container">
  <mat-card class="card">
    <img src="../../assets/images/Revolution-Retail-Systems-logo_mobile.png" />
    <mat-icon class="mat-18">vpn_key</mat-icon>
    <span class="title-section">
      <span class="title">Forgot Password?</span>
      <span class="subtitle">Enter your email below to receive your password reset link.</span>
    </span>
    <form class="form" [formGroup]="formGroup" (ngSubmit)="sendLink(formGroup.value)">
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Email ID" type="email" formControlName="emailId">
        </mat-form-field>
        <span class="error-msg" *ngIf="formGroup.controls['emailId'].invalid && formGroup.controls['emailId'].touched">{{Languages.get('errorMessage.emailId', 'capitalizeFirst')}}</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [ngClass]=" {'disabled' : formGroup.invalid}" [disabled]="formGroup.invalid">Send Link</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>