@import '../app.common';
.container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: auto;
        border-radius: 4px;
        margin: 20px 0;
        width: 25%;
        height: 70vh;
        @include tablet {
            width: 30%
        }
        @include phone {
            width: 60%
        }
        @include phone-small {
            width: 70%
        }
        .mat-icon {
            height: 40px;
            width: auto;
            font-size: 40px;
            color: #FF9800;
            padding: 20px;
            border: 3px solid #FF9800;
            border-radius: 100%;
        }
        .title-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            .title {
                font-size: 24px;
                color: #415C6C;
            }
            .subtitle {
                font-size: 12px;
                text-align: center;
                color: #8F979D;
            }
        }
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .mat-card-content{
                width: 100%;
                .mat-form-field{
                    width: 100%;
                }
                .error-msg{
                    font-size: 10px;
                    color: #F9403D;
                }
            }
            .mat-card-actions {
                padding: 0;
            }
        } 
    }
}