<div class="dialog-box">
    <div class="close-section">
        <button mat-dialog-close>
            <mat-icon mat-dialog-close class="mat-18">close</mat-icon>
        </button>
    </div>
    <div class="dialog-content" [ngClass]="{'confirm-box' : isConfirm}">
        <img src="assets/images/Revolution-Retail-Systems-logo_mobile.png" />
        <div class="success-content">
            <img src="assets/images/key.png" />

            <span class="message-title">
                {{Languages.get('global.changePassword', 'capitalizeFirst')}}
            </span>
            <form class="form" [formGroup]="formGroup" (ngSubmit)="changePassword(formGroup.value)">
                <span class="input-box">
                    <span class="password-section">
                        <mat-form-field class="inputLine">
                            <input matInput placeholder="Old Password" [type]="oldPassword" value="" formControlName="oldPassword" (change)="onSearchChange($event.target.value)">
                            <span class="eye-icon" (click)="showOldPassword(formGroup.controls['oldPassword'].value)">
                                <i class="material-icons">remove_red_eye</i>
                            </span>
                        </mat-form-field>
                        <span class="error-msg" *ngIf="formGroup.controls['oldPassword'].invalid && formGroup.controls['oldPassword'].touched">{{Languages.get('errorMessage.password', 'capitalizeFirst')}}</span>
                        <span class="error-msg" *ngIf="errorStatus">{{Languages.get('errorMessage.wrongPassword', 'capitalizeFirst')}}</span>
                    </span>
                    <span class="password-section">
                        <mat-form-field class="inputLine">
                            <input matInput placeholder="New Password" [type]="newPassword" value="" formControlName="newPassword" (input)="passwordValueValidator($event.target.value);">
                            <span class="eye-icon" (click)="showNewPassword(formGroup.controls['newPassword'].value);">
                                <!-- <img src="../../assets/images/eye-icon.svg" alt="eye" /> -->
                                <i class="material-icons">remove_red_eye</i>
                            </span>
                        </mat-form-field>
                        <span class="error-msg" *ngIf="formGroup.controls['newPassword'].invalid && formGroup.controls['newPassword'].touched">{{Languages.get('errorMessage.password', 'capitalizeFirst')}}</span>
                    </span>
                    <span class="error-msg" *ngIf="invalidPassword">{{Languages.get('errorMessage.invalidPassword', 'capitalizeFirst')}}</span>
                </span>
                <span class="pwdBtn">
                    <button mat-raised-button color="primary" type="submit" [ngClass]="{'disabled' : formGroup.invalid}" *ngIf="isCloseDialog"
                        [disabled]="errorStatus || formGroup.invalid || invalidPassword">Change Password</button>
                </span>

            </form>

        </div>
        <div>

        </div>
    </div>
</div>